<div class="register">
	<div><img src="../../../../assets/logo.png" /></div>
	<div>
		<form [formGroup]="form" (submit)="onSave()">
			<mat-card>
				<mat-card-header>
					<mat-card-title>Regisztráció</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<mat-form-field appearance="outline">
						<mat-label>Felhasználónév</mat-label>
						<input [formControl]="formControls.username" matInput />
						<mat-hint>Minimum 6 karakter</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Jelszó</mat-label>
						<input
							type="password"
							[formControl]="formControls.password"
							matInput
						/>

						<mat-hint
							>Minimum 8 karakter, kisbetű, nagybetű, speciális karaktert kell
							tartalmazzon</mat-hint
						>
					</mat-form-field>
				</mat-card-content>
				<mat-card-actions>
					<button
						class="italic"
						type="button"
						[routerLink]="'/public/login'"
						mat-button
					>
						Tovább a bejelentkezéshez
					</button>
					<button type="submit" mat-raised-button color="primary">
						Regisztráció
					</button>
				</mat-card-actions>
			</mat-card>
		</form>
	</div>
</div>
