<table mat-table [dataSource]="userList$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Felhasználónév</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef>Műveletek</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [disabled]="isRequesting$ | async" *ngIf="(userType$ | async) === 'Admin'">
        <mat-icon (click)="delete(element.id)">{{
          element.id === (deleteId$ | async) && (isDeleteRequesting$ | async)
            ? 'cloud_upload'
            : 'delete'
        }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-spinner *ngIf="isRequesting$ | async"></mat-spinner>
